.cats-2 {
    margin-top: 80px;
    margin-bottom: 140px;
    @media screen and (max-width: 550px) {
        position: relative;
        margin-top: 60px;
        margin-bottom: 80px;
    }
    &__slider {
        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 40px;

            @media screen and (max-width: 920px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media screen and (max-width: 550px) {
                display: flex;
                grid-gap: initial;
            }
        }
        .swiper-button-next {
            display: none;
        }

        @media screen and (max-width: 550px) {
            max-width: calc(100% - 60px);
            overflow: hidden;
            .swiper-button-next {
                display: block;
                &::after {
                    display: none;
                }
                svg {
                }
            }
        }
    }

    &__link {
        display: block;
        width: 100%;
        &-pic {
            display: block;
            width: 100%;
        }
        &-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
        &-text {
            display: block;
            margin-top: 15px;
            text-align: center;
            @media screen and (max-width: 550px) {
                margin-top: 0px;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    &__link-pic {
    }

    &__link-img {
    }

    &__link-text {
    }
}
.layout {
}
.js-cats-slider {
}
.swiper-wrapper {
}
.swiper-slide {
}
.title-4 {
}
.swiper-button-next {
}
