.catalog {
	width: 100%;


	&__filter-btn {
		align-items: center;
		display: flex;
		background-color: $white;
		border: none;
		margin-right: 40px;
		cursor: pointer;
		transition: all 0.3s ease;

		&--right {
			@media screen and (max-width: 920px) {
				margin-right: 0;
			}
		}

		&-svg {
			margin-right: 12px;
		}
		
		&-text {
			transition: color 0.3s ease;
		}

		&-svg path {
			transition: stroke 0.3s ease;
		}

		&:hover &-text {
			color: $accent;
		}

		&:hover &-svg path {
			stroke: $accent;
		}

		&--icon-right  &-svg {
			margin-left: 12px;
			margin-right: 0;
		}

		&--icon-right {

			@media screen and (max-width: 920px) {
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
	}

	&__pre {
		margin-bottom: 46px;

		@media screen and (max-width: 920px) {
			margin-bottom: 17px;
		}

		&-top {
			display: flex;
			margin-bottom: 15px;
			position: relative;
			
			@media screen and (max-width: 920px) {
				display: block;
				margin-bottom: 11px;
			}

			&-products {
			color: #A4A4A4;
			position: absolute;
			top: 0;
			right: 0;

				@media screen and (max-width: 920px) {
					position: relative;
					margin-bottom: 18px;
				}
			}
			
			

			&-subtitle {
				margin-right: 12px;

				&-2 {
					margin-right: 12px;

					@media screen and (max-width: 920px) {
						position: absolute;
						right: 24px;
						bottom: 0;
					}
				}	
			}

			&-pic {
				margin-right: 12px;
				width: 100%;
				height: 100%;

				&-2 {
					margin-right: 12px;

					&-svg {
						width: 100%;
						height: 100%;

						&:hover {
							fill: $accent;
						}
					}

					@media screen and (max-width: 920px) {
						position: absolute;
						right: 0;
						bottom: 0;
					}
				}

				&-svg {
					width: 100%;
					height: 100%;
				}
			}
		}
		
		&-tags {

			&-list {
				display: flex;
				flex-wrap: nowrap;
				overflow-x: scroll;
				overflow-y: hidden;
				scrollbar-width: none;
				white-space: nowrap;

			}
			
			&-item {
				width: fit-content	;
			}

			&-pic {
				padding-bottom: 3px;
				margin-left: 6px;

				&-svg {
					width: 100%;
					height: 100%;
				}
			}

			&-btn {
				align-items: center;
				display: flex;
				background-color: $white;
				border: none;
				margin-right: 18px;
				cursor: pointer;
			}
		}
	}

	&__prp-button {
		display: flex;
		justify-content: center;
	}
}

.catalog__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;

	@media screen and (max-width: 920px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: 600px) {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 22px;
	}

	&-item {

	}
}
