.catalog {
    width: 100%;
    margin-bottom: 120px;

    @media screen and (max-width: 920px) {
        margin-bottom: 80px;
    }

    &__pre-top-btns {
        display: flex;
        align-items: center;
        @media screen and (max-width: 920px) {
            justify-content: space-between;
        }
    }

    &__filter-btn {
        align-items: center;
        display: flex;
        background-color: $white;
        border: none;
        margin-right: 40px;
        cursor: pointer;
        transition: all 0.3s ease;

        &--right {
            @media screen and (max-width: 920px) {
                margin-right: 0;
            }
        }

        &-svg {
            margin-right: 12px;
        }

        &-text {
            transition: color 0.3s ease;
        }

        &-svg path {
            transition: stroke 0.3s ease;
        }

        &:hover &-text {
            color: $accent;
        }

        &:hover &-svg path {
            stroke: $accent;
        }

        &--icon-right &-svg {
            margin-left: 12px;
            margin-right: 0;
        }
    }

    &__pre {
        margin-bottom: 46px;

        @media screen and (max-width: 920px) {
            margin-bottom: 17px;
        }

        &-top {
            display: flex;
            margin-bottom: 15px;
            position: relative;

            @media screen and (max-width: 920px) {
                display: block;
                margin-bottom: 11px;
            }

            &-products {
                color: #a4a4a4;
                display: flex;
                align-items: center;
                margin-left: auto;

                @media screen and (max-width: 920px) {
                    position: relative;
                    margin-bottom: 18px;
                    margin-left: 0;
                }
            }

            &-subtitle {
                margin-right: 12px;

                &-2 {
                    margin-right: 12px;

                    @media screen and (max-width: 920px) {
                        position: absolute;
                        right: 24px;
                        bottom: 0;
                    }
                }
            }

            &-pic {
                margin-right: 12px;
                width: 100%;
                height: 100%;

                &-2 {
                    margin-right: 12px;

                    &-svg {
                        width: 100%;
                        height: 100%;

                        &:hover {
                            fill: $accent;
                        }
                    }

                    @media screen and (max-width: 920px) {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }

                &-svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &-tags {
            &-list {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: scroll;
                overflow-y: hidden;
                scrollbar-width: none;
                white-space: nowrap;
            }

            &-item {
                width: fit-content;
            }

            &-pic {
                width: 8px;
                padding-bottom: 3px;
                margin-left: 6px;

                &-svg {
                    width: 100%;
                    height: 100%;
                }
            }

            &-btn {
                align-items: center;
                display: flex;
                background-color: $white;
                border: none;
                margin-right: 18px;
                cursor: pointer;
            }
        }
    }

    &__prp-button {
        display: flex;
        justify-content: center;
    }

    &__filter {
        position: fixed;
        left: -380px;
        top: 0;
        height: 100%;
        background: #fff;
        z-index: 12;
        width: 380px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        &::before {
            content: "";
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.25);
            z-index: -1;
        }
        &.active {
            opacity: 1;
            pointer-events: all;
            left: 0;
        }
        &-inner {
            padding-top: 40px;
            position: relative;
            z-index: 1;
            background-color: #fff;
            height: 100%;
        }
        &-top {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 40px;
            z-index: 2;
            &-close {
                border: none;
                background: none;
                cursor: pointer;
            }
        }
        &-body {
            padding: 0 40px;
            margin-top: 20px;
            overflow-y: scroll;
            height: 100%;
            padding-bottom: 100px;
            position: relative;
            z-index: 2;
        }
    }
    &__breads {
        margin-bottom: 22px;
        .woocommerce-breadcrumb {
            color: #c7c7c7;
            font-size: 14px;
            font-weight: 300;
            a {
                color: #c7c7c7;
                font-size: 14px;
                font-weight: 300;
                transition: color 0.3s ease;
                &:hover {
                    color: $accent;
                }
            }

            @media screen and (max-width: 1000px) {
                & {
                    -ms-overflow-style: none;
                    scrollbar-width: none;
                    display: flex;
                    flex-wrap: nowrap;
                    white-space: nowrap;
                    overflow-x: scroll;
                }
                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                    display: none;
                }
            }
        }
    }
    &__sort {
        margin-right: 30px;
        @media screen and (max-width: 920px) {
            margin-right: -20px;
        }

        .catalog__filter-btn {
            height: 55px;
        }
        .dropdown {
            position: relative;
            z-index: 2;

            @media screen and (max-width: 920px) {
                position: initial;
            }
            &::before {
                content: "";
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                pointer-events: none;
                z-index: 15;
                background-color: #000;
                transition: opacity 0.3s ease;
            }
            button {
                padding: 0 30px;
                width: 100%;
                text-align: left;
                margin-right: 0;
                position: relative;
                z-index: 1;
                @media screen and (max-width: 920px) {
                    padding: 0 20px;
                    position: initial;
                }
            }
            & > button {
                svg {
                    transition: all 0.3s ease;
                }
            }

            button.disabled {
                cursor: initial;
                span {
                    color: #c7c7c7;
                }
            }
            &.active > button {
                box-shadow: 0px 0px 5px 0px rgba(7, 6, 5, 0.1);
                svg {
                    transform: rotate(-180deg);
                }
                @media screen and (max-width: 920px) {
                    box-shadow: none;
                }
            }
            &__list {
                opacity: 0;
                pointer-events: none;
                position: absolute;
                width: 100%;
                top: 100%;
                left: 0;
                background-color: #fff;
                padding-bottom: 30px;
                box-shadow: 0px 5px 5px 0px rgba(7, 6, 5, 0.1);
                transition: all 0.3s ease;
                z-index: 16;
                &-item {
                    button {
                        margin-right: 0;
                        text-align: left;
                    }
                }

                @media screen and (max-width: 920px) {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    position: fixed;
                    left: 0px;
                    z-index: 100;
                    top: calc(160% - 250px);
                    width: 100%;
                    height: auto;
                    border: none;
                    box-shadow: none;
                    justify-content: flex-end;
                    display: flex;
                    flex-direction: column;
                    opacity: 1;
                }
            }
            &.active .dropdown__list {
                opacity: 1;
                pointer-events: all;
                @media screen and (max-width: 920px) {
                    top: calc(100% - 250px);
                }
            }
            &.active {
                &::before {
                    pointer-events: all;
                    @media screen and (max-width: 920px) {
                        opacity: 0.7;
                        z-index: 12;
                    }
                }
            }
        }
    }
}

.catalog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;

    @media screen and (max-width: 920px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
    }
}

[data-filter-type="wpfSortBy"] {
    display: none !important;
}
