.pagination {
	position: relative;
	margin-top: 80px;
	margin-bottom: 22px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
  justify-content: center;
	display: grid;
	width: 163px;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 16px;

	&__item {

		&-btn {
			align-items: center;
			display: flex;
			background-color: $white;
			border: none;
			margin-right: 40px;
			cursor: pointer;
			transition: all 0.3s ease;
			
			&-text {
				transition: color 0.3s ease;
			}
	
			&-svg path {
				transition: stroke 0.3s ease;
			}
	
			&:hover &-text {
				color: $accent;
			}
	
			&:hover &-svg path {
				stroke: $accent;
			}
	
			&--icon-right  &-svg {
				margin-left: 12px;
				margin-right: 0;
			}
	
			&--icon-right {
	
				@media screen and (max-width: 920px) {
					position: absolute;
					right: 0;
					bottom: 0;
				}
			}
		}
		
		&-link {
		
			&:hover:not(.active) {
				color: $accent;
			}

			&-active {
				color: $hover-accent;
			}
		}
	}
}
