.ph3 {
    margin-top: 80px;
    margin-bottom: 140px;
    @media screen and (max-width: 680px) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    &__pics {
        display: grid;
        grid-template-columns: 0.77fr 1fr;
        grid-gap: 40px;
        @media screen and (max-width: 1050px) {
            grid-gap: 20px;
        }
        @media screen and (max-width: 680px) {
            grid-template-columns: 1fr 1fr;
        }
    }
    &__big {
        height: 100%;
        max-height: calc(100vh - 102px);
        @media screen and (max-width: 680px) {
            height: 70vw;
            .pht__pic {
                height: 100%;
            }
        }
    }

    &__container {
        display: grid;
        grid-gap: 40px;
        @media screen and (max-width: 1050px) {
            grid-gap: 20px;
        }
    }

    &__sm {
        height: 100%;
        max-height: calc(50vh - 51px - 20px);
        @media screen and (max-width: 680px) {
            .pht__pic {
                height: 100%;
            }
        }
    }
}

.ph {
    margin-bottom: 40px;
    @media screen and (max-width: 680px) {
        &__pic {
            height: auto;
        }
    }
}
