.poster {
	margin-bottom: 80px;
	position: relative;

	@media screen and (max-width: 920px) {
		margin-bottom: 40px;
	}

	&__pic {
		max-width: 100%;
		height: 500px;

		@media screen and (max-width: 920px) {
			height: 308px;
		}

		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50%;
		}
	}

	&__block {

		&-subtitle {
			position: absolute;
			bottom: 80px;
			color: white;

			@media screen and (max-width: 920px) {
				bottom: 30px;
				padding-right: 25px;
				padding-left: 25px;
			}
		}
	}
}