.prs {
    margin-bottom: 140px;
    @media screen and (max-width: 920px) {
        margin-bottom: 80px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__title {
        @media screen and (max-width: 920px) {
            font-size: 28px;
            line-height: 32px;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        @media screen and (max-width: 920px) {
            margin-top: 10px;
        }
        .swiper-button-next,
        .swiper-button-prev {
            position: static;
            height: auto;
            width: auto;
            margin: 0;
            &::after {
                display: none;
            }
        }

        .prs__fraction {
            margin: 0 13px;
            white-space: nowrap;
        }
    }

    &__slider {
        margin-top: 40px;
        overflow: hidden;
    }
}
.layout {
}
.js-prs {
}
.title-2 {
}
.js-prs-slider {
}
.swiper-wrapper {
}
.swiper-slide {
}
.prp {
    &__pic {
    }

    &__pic-img {
    }

    &__text {
    }

    &__text-brand {
    }

    &__text-subtitle {
    }

    &__text-price {
    }
}
.text {
}
.title-3 {
}
