.title {
	font-weight: 400;
	font-size: 49px;
	line-height: 45px;
	color: $black;

	@media screen and (max-width: 920px) {
		font-size: 32px;
		line-height: 38px;
	}
}

.title-2 {
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
	color: $black;

	@media screen and (max-width: 920px) {
		font-size: 32px;
		line-height: 38px;
	}
}

.title-3 {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: $black;
}

.title-4 {
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: $black;
}

.title-4-bold {
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	color: $black;
}


.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.01em;
	color: $black;
}

.price {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: $black;
}

.brand {
	font-weight: 300;
	font-size: 16px;
	color: $black;
}

.button {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: $black;
}

.text-2 {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.01em;
	color: $black;
}

.old-price {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: $black;
}

.button-1 {
	padding: 10px 28px 10px 28px;
	background-color: $accent;
	transition: all 300ms ease;
	max-width: fit-content;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: $white;
	border-width: 1px;
	border-color: $accent;
	border-style: solid;

	&:hover {
		background-color: $hover-accent;
		border-color: $hover-accent;
	}
}

.button-2 {
	padding: 10px 28px 10px 28px;
	background-color: $white;
	transition: all 300ms ease;
	max-width: fit-content;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: $accent;
	border-width: 1px;
	border-color: $accent;
	border-style: solid;

	&:hover {
		background-color: $accent;
	color: $white;
	}
}





















