.title {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 49px;
	line-height: 45px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $black;

	@media screen and (max-width: 920px) {
		font-size: 32px;
		line-height: 38px;
	}
}

.title-2 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $black;

	@media screen and (max-width: 920px) {
		font-size: 32px;
		line-height: 38px;
	}
}

.title-3 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $black;
}

.title-4 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $black;
}

.title-4-bold {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $black;
}


.text {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.01em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $black;
}

.price {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $black;
}

.brand {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;font-feature-settings: 'pnum' on, 'lnum' on;
	color: $black;
}

.button {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $black;
}

.text-2 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.01em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $black;
}

.old-price {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $black;
}





















