*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
    font-style: normal;
    font-feature-settings: "pnum" on, "lnum" on;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.layout {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1200px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}
